/* Variables */
:root {
    --main-bg-color: rgb(255, 229, 180);
    --secondary-bg-color: rgb(180, 206, 255);
    --tertiary-bg-color: rgb(214, 228, 255);
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font: inherit;
}

html {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.headerStyle {
    background-color: var(--secondary-bg-color);
    padding: .5rem 0;
}

.logo {
    font-size: 2rem;
    margin-left: 16.5rem;
}