.container {
    display: flex;
}
.listContainer {
    margin-right: 10rem;
}

.genContainer {
    width: 720px;
}

.title {
    text-align: center;
}

.photo {
    width: 720px;
    height: 480px;
    box-shadow: 1px 2px 4px black;
}

.landmarkBtn {
    font-size: 1.5rem;
    background-color: var(--secondary-bg-color);
    border: 2px var(--btn-outline-color) solid;
    border-radius: .5rem;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}